{% extends "project/base.html" %}

{% block body_block %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color: #4077dc; letter-spacing: 1;" href="/project">GROUP3</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Dashboard</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container" style="padding-top: 60px;">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div>
                    <h1>Add item to search</h1>
                    <form action="scrape_data" method="GET">
                        <fieldset>
                            <div class="form-group col-xs-12 col-md-8" style="padding-left: 0px;">
                                <label for="term">Search Term:</label>
                                <input type="text" class="form-control input-default" id="term" name="term">
                            </div>
                            <div class="form-group col-xs-4" style="padding-left: 0px;">
                              <label for="citydrop">City: </label>
                              <select class="form-control" id="citydrop" name="citydrop">
                              </select>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group col-xs-6 col-sm-4" style="padding-left: 0px;">
                                <label for="minprice">Min Price:</label>
                                <input type="number" class="form-control input-default" id="minprice" name="minprice" min="0">
                            </div>
                            <div class="form-group col-xs-6 col-sm-4" style="padding-left: 0px;">
                                <label for="maxprice">Max Price:</label>
                                <input type="number" class="form-control input-default" id="maxprice" name="maxprice" min="0">
                            </div>
                            <div style="padding-top: 25px;">
                                <button type="submit" class="btn btn-primary special" id="searchbutton" name="searchbutton">Search</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div>
                    <h1>Items to watch</h1>
                    <form action="update_current_items" method="GET">
                        <label for="searchlist">Your Current Items:</label>
                            <select id="searchlist" name="searchlist" class="form-control input-default" onchange="updateItemsList()">
                                {% for value in user_searches  %}
                                    <option value="{{value.keyword}}+{{value.city}}+{{value.min_price}}+{{value.max_price}}">{{ value.keyword }} - {{ value.city }}: Between ${{ value.min_price }} - ${{ value.max_price }}</option>
                                {% endfor %}
                            </select>
                        <div style="padding-top: 25px;">
                            <button type="submit" class="btn btn-primary special" id="searchbutton" name="searchbutton">Update</button>
                        </div>
                    </form>
                    </br>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <tr><th>Type</th><th>Item</th><th>Price</th>
                                {% for key, value in result_list.items %}
                                    <tr>
                                        <td>{{ value.type }}</td> <td><a href=" {{ value.url }} "> {{ value.title }} </a></td> <td> {{ value.price }} </td>
                                    </tr>
                                {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
