{% extends "project/base.html" %}

{% block body_block %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color: #4077dc; letter-spacing: 1;" href="/project">GROUP3</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Dashboard</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container" style="padding-top: 60px;">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div>
                    <h1>Add item to search</h1>
                    <form action="scrape_data" method="GET">
                        <fieldset>
                            <div class="form-group col-xs-12 col-md-8" style="padding-left: 0px;">
                                <label for="term">Search Term:</label>
                                <input type="text" class="form-control input-default" id="term" name="term">
                            </div>
                            <div class="form-group col-xs-4" style="padding-left: 0px;">
                              <label for="citydrop">City: </label>
                              <select class="form-control" id="citydrop" name="citydrop">
                              </select>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group col-xs-6 col-sm-4" style="padding-left: 0px;">
                                <label for="minprice">Min Price:</label>
                                <input type="number" class="form-control input-default" id="minprice" name="minprice" min="0">
                            </div>
                            <div class="form-group col-xs-6 col-sm-4" style="padding-left: 0px;">
                                <label for="maxprice">Max Price:</label>
                                <input type="number" class="form-control input-default" id="maxprice" name="maxprice" min="0">
                            </div>
                            <div style="padding-top: 25px;">
                                <button type="submit" class="btn btn-primary special" id="searchbutton" name="searchbutton">Search</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div>
                    <h1>Items to watch</h1>
                    <label for="searchlist">Your Current Items:</label>
                    <select id="searchlist" name="searchlist" class="form-control input-default" onchange="updateItemsList()">
                        <option value="macbook">Macbook</option>
                        <option value="xbox">Xbox</option>
                        <option value="adidas">Adidas</option>
                        <option value="toaster">Toaster</option>
                    </select>

                    </br>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Price</th>

                                </tr>
                            </thead>
                            <tbody>
                                <!--do this loop through someList passed through context
                                {% for value in someList %}
                                    <tr>
                                        <td>{{ value }}</td>
                                    </tr>
                                {% endfor %}
                                <tr>-->
                                    <td><a href="https://www.google.com">Macbook 1</a></td>
                                    <td>$600</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.google.com">Macbook 2</a></td>
                                    <td>$550</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.google.com">Macbook 3</a></td>
                                    <td>$550</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% if message %}
                <div class="container"><h2 class="text-center"> {{message}} </h2></div>
            {% endif %}
        </div>
    </div>
{% endblock %}
